.footer__link {
    margin-right: 18px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.12;
}

.footer__link:last-of-type {
    margin-right: 0;
}



@media screen and (max-width: 767px) {
    .footer__link {
        margin-top: 32px;
        margin-right: 0;
        font-size: 24px;
        line-height: 1.0;
    }

    .footer__link:first-of-type {
        margin-top: 0;
    }
}