.cover__overlay {
    background-color: rgb(42, 44, 47, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover__overlay:hover {
    background-color: rgb(42, 44, 47, 0.8);
    transition: background-color 1s ease;
}