.footer__item {
    margin: 0;
    padding: 0;
    margin-right: 18px;
    list-style: none;
}

.footer__item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__item {
        margin-top: 32px;
        margin-right: 0;
    }

    .footer__item:first-of-type {
        margin-top: 0;
    }
}