.card {
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-areas: 
        "title links-description"
        "image card-description";
    column-gap: 40px;
    row-gap:  48px;
}

.card:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 1279px) {
    .card {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .card {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-template-areas: 
            "title"
            "links-description"
            "image"
            "card-description";
        justify-items: center;
        row-gap: 32px;
    }
}